.event-info-container {
    height: calc(100% - 120px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.check-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 20px;
}

.periods {
    margin-top: 10px;
}