<mat-drawer-container class="sidebar-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <ul class="sidebar-nav">
        <li class="nav-item">
          <a href="/home">
            <i class="bi bi-house"></i>
            <span>Página Inicial</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/user/list">
            <i class="bi bi-people"></i>
            <span>Voluntários</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/event/list">
            <i class="bi bi-calendar-event"></i>
            <span>Eventos</span>
          </a>
        </li>
      </ul>
    </mat-drawer>
  </mat-drawer-container>