//-------------------- Colors --------------------//

$color-1: #FFDC00;
$color-2: #000000;
$color-3: #FFFFFF;
$color-4: #1E1E1E;
$color-5: #252526;
$color-6: #333333;

$color-error: #F44336;
$color-alert: #FFDC00;
$color-success: #3C9247;

//-------------------- Fonts --------------------//

$font-1: 'Work Sans', sans-serif;
$font-2: 'Oswald', sans-serif;

//-------------------- Sizes --------------------//