@import "variables";
@import "~bootstrap-icons/font/bootstrap-icons.css";

//-------------------- General Styles --------------------//

html, body { 
    height: 100%; 
}

body {
    background-color: $color-3 !important;
    font-family: $font-1 !important;
    margin: 0;
}

.page {
    width: 100vw;
    height: calc(100vh - $header-height);
    position: fixed;
    top: $header-height;
    padding: 35px;
    transition: all 0.3s;
}

.page-sidebar {
    margin-left: $sidebar-width;
    width: calc(100vw - $sidebar-width);
}

.page-title {
    font-family: $font-2;
    color: $color-5;

    span {
        font-weight: bold;
    }
}

.container-buttons-footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 20px;
    height: 100px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 120px;
        font-family: $font-1;
        font-weight: bold;
        color: $color-2;
        border-radius: 50px;
        border: none;
        padding: 10px;
        margin: 0 5px;
        height: 50px;
        transition: all 0.3s;

        i {
            font-size: 20px;
            margin: 5px;
        }
    }
    
    .btn-primary {
        background-color: $color-1;
    }

    .btn-secondary {
        background-color: $color-6;
    }

    .btn-primary:hover {
        background-color: $light-1;
        color: $color-2;
    }

    .btn-primary.disabled, .btn-primary:disabled {
        background-color: $color-7;
        color: $color-3;
    }

    .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-form-field {
        width: 30%;
        height: 58px;
        margin: 0;
    }

    .mat-error {
        text-align: right;
        padding-right: 25px;
    }

    .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
        position: relative;
        top: -80px;
    }
}

//-------------------- Title and Text --------------------//

h1, h2, h3, h4, h5, h6 {
    font-family: $font-2 !important;
    text-transform: uppercase;
}

//-------------------- Divider --------------------//

.mat-divider {
    border-top-color: $color-7;
}

//-------------------- Form and Inputs --------------------//

mat-label {
    font-family: $font-1;
}

.mat-form-field {
    width: 100%;
    height: 80px;
    margin: 5px 0;
}

.mat-form-field-label {
    font-family: $font-1 !important;
    color: $color-6;
    left: 44px !important;
}

.mat-form-field.mat-focused {
    .mat-form-field-label, span {
        color: $color-1;
    }

    .mat-form-field-ripple {
        background-color: $color-1;
    }
}

.mat-form-field.mat-form-field-invalid {
    .mat-form-field-label, span {
        color: $color-error;
    }

    .mat-form-field-ripple {
        background-color: $color-error;
    }
}

input.mat-input-element {
    width: calc(100% - 50px);
}

.mat-input-element {
    caret-color: $color-1;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    display: flex;
    justify-content: center;

    button:focus {
        outline: none;
    }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $color-6;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: $color-1;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 50px;
    background-color: $color-input-background;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
    min-width: 50px !important;
    border-radius: 50px 0 0 50px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 50px 50px 0 !important;
}

textarea.mat-input-element {
    margin: 0 15px !important;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline, .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: $color-6;
}

.mat-date-range-input-inner[disabled], .mat-form-field-disabled .mat-date-range-input-separator {
    color: $color-6;
}

.mat-date-range-input {
    margin-left: 25px;
}

.mat-calendar-body-selected {
    font-weight: bold;
    background-color: $color-1;
    color: $color-6;
}

.mat-calendar-body-today.mat-calendar-body-selected {
    box-shadow: inset 0 0 0 1px $color-6;
}

.mat-calendar-body-in-range::before {
    background-color: $color-1;
    opacity: 0.2;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: $color-1 !important;
    color: $color-2;
    opacity: 0.2;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background: none !important;
}

.mat-datepicker-toggle {
    .mat-icon-button {
        color: $color-6;
        width: 10px !important;
        height: 10px !important;
        line-height: 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-right: 20px;

        svg {
            height: 30px;
        }

        :focus {
            outline: none !important;
        }
    }
}

.mat-checkbox-inner-container { 
    height: 30px !important;
    width: 30px !important;
}

.mat-checkbox-layout .mat-checkbox-label {
    line-height: 30px;
}

.mat-checkbox-frame {
    border-color: $color-6;
    border-width: 1px !important;
    border-radius: 6px !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $color-1;
    border-color: $color-1;
    border-radius: 5px;
}

button.mat-menu-item {
    outline: none !important;
}

.mat-menu-item {
    font-family: $font-1;
    text-transform: uppercase;
}

.mat-menu-item i {
    font-size: 16px;
    margin-right: 5px;
}

.input-file-style {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    font-family: $font-1;
    font-weight: bold;
    color: $color-2;
    background-color: $color-1;
    height: 50px;
    padding: 10px;
    margin: 0 5px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;

    i {
        font-size: 20px;
        margin: 5px;
    }
}

.input-file-style:hover {
    background-color: $light-1;
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background-color: $color-1;
}

//--------------------- Slide ---------------------

.slide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.mat-slide-toggle {
    margin: 0 30px;
}

.mat-slide-toggle-bar {
    background-color: $color-7;
    height: 20px !important;
    width: 50px !important;
    border-radius: 10px !important;
}

.mat-slide-toggle-thumb {
    height: 25px !important;
    width: 25px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $color-1;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $transparent-1;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(25px,0,0) !important;
}

//--------------------- Tabs ---------------------

.mat-tab-label, .mat-tab-link {
    font-size: 16px;
    font-family: $font-1;
    font-weight: bold;
    color: $color-6;
}

.mat-tab-group {
    height: 100%;
}

.mat-tab-body {
    height: calc(100% - 100px);
}

.mat-tab-body-content {
    overflow-x: hidden !important;
}

.mat-tab-body-wrapper {
    height: 100%;
}

.mat-ripple {
    transition: all 0.3s;
}

.mat-ripple:hover {
    background-color: $transparent-6;
    border-radius: 15px 15px 0 0;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $color-1;
}

//--------------------- Snackbars ---------------------

.error-snackbar {
    background-color: $color-error;
    color: $color-3;
}

.warning-snackbar {
    background-color: $color-alert;
    color: $color-3;
}

.success-snackbar {
    background-color: $color-success;
    color: $color-3;
}

//--------------------- Table ---------------------

.table-container {
    opacity: 0.9;
    height: calc(100% - 120px);
}

.mat-table {
    width: 100%;
    background-color: $color-table;
    border-radius: 10px;
    overflow:hidden !important;
}

.mat-header-cell, .mat-cell {
    font-family: $font-1;
    text-align: center !important;
    color: $color-4;
}

.mat-header-cell {
    font-weight: bold;
    font-size: 15px;
}

.mat-sort-header-container {
    justify-content: center
}

.mat-paginator, .mat-select-arrow, .mat-select-value {
    background: none;
    color: $color-6 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $color-6;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $color-1;
}

.mat-icon-button.mat-button-disabled.mat-button-disabled {
    color: $color-table;
}

.mat-sort-header-arrow {
    color: $color-6;
}

.table-actions {
    cursor: pointer;
}

.mat-paginator-page-size-select {
    height: 50px;
}

.mat-tab-header {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    display: flex;
    flex-flow: column;
    width: 100%;
    max-height: 95%;
}

thead {
    padding-right: 13px;
    flex: 0 0 auto;
}
  
tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}
  
tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

//--------------------- Swal Alert ---------------------

.swal2-popup {
    background-color: $color-6 !important;
    color: $color-3 !important;
    border-radius: 15px !important;

    .swal2-title {
        font-family: $font-2 !important;
        font-weight: lighter !important;
        text-transform: uppercase !important;
        color: $color-1 !important;
    }

    .loading-gif {
        height: 150px;
        margin-bottom: 15px;
    }

    .progress-bar-container {
        margin-top: 20px;
        height: 12px;
        width: 100%;
        background-color: $color-2;
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-radius: 0 0 10px 10px;
    }

    .progress-bar {
        position: absolute;
        height: 100%;
        background-color: $color-1;
        animation: progress-animation 3s infinite;
        border-radius: 0 0 10px 10px;
    }

    @keyframes progress-animation{
        0% { width: 0%; } 
        100% { width: 100%}
    }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
