<div id="page" class="page">
    <div class="page-header">
        <div class="page-title">
            <h2 *ngIf="isNew">Criar <span>Evento</span></h2>
            <h2 *ngIf="!isNew">Detalhes do <span>Evento</span></h2>
        </div>
    </div>

    <app-create-event *ngIf="isNew" [isNew]="isNew" [id]="id"></app-create-event>

    <mat-tab-group *ngIf="!isNew" mat-align-tabs="start">
        <mat-tab label="Informações">
            <app-create-event [isNew]="isNew" [id]="id"></app-create-event>
        </mat-tab>
        <mat-tab label="Voluntários">
            <app-event-general></app-event-general>
        </mat-tab>
        <mat-tab label="Equipes">  </mat-tab>
        <mat-tab label="Períodos"> Voluntários Dia 2 </mat-tab>
    </mat-tab-group>
</div>
