<div id="page" class="page">
    <div class="page-header">
        <div class="page-title">
            <h2>Check-In <span>Voluntários</span></h2>
        </div>
    </div>

    <div class="event-input" *ngIf="!eventSelected">
        <mat-form-field appearance="outline">
            <mat-label>Selecione um evento</mat-label>
                <mat-select [(ngModel)]="eventSelected" [ngModelOptions]="{standalone: true}" (selectionChange)="loadEventInfo()">
                    <mat-option *ngFor="let event of events" [value]="event">{{event.name}}</mat-option>
                </mat-select>
        </mat-form-field>
    </div>

    <div class="check-in-card" *ngIf="eventSelected">
        <div class="volunteer-input">
            <mat-form-field appearance="outline">
                <mat-label>Selecione um voluntário</mat-label>
                    <mat-select [(ngModel)]="volunteerSelected" [ngModelOptions]="{standalone: true}" (selectionChange)="teste()">
                        <mat-option *ngFor="let volunteer of volunteers" [value]="volunteer">{{volunteer.name}}</mat-option>
                    </mat-select>
            </mat-form-field>
        </div>

        <div class="close-button">
            <button mat-mini-fab matTooltip="Fechar" (click)="eventDeselect()">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    
        <div class="volunteer-info" *ngIf="volunteerSelected">
            <div class="row">
                <div class="col-12">
                    <div class="volunteer-card-section">
                        <h1>{{volunteerSelected.name}}</h1>
                        <p>
                            {{volunteerSelected.team ? volunteerSelected.team.name : "Equipe não definida"}}
                            <span *ngIf="volunteerSelected.teamLeader">
                                ( Lider Equipe
                                <i class="bi bi-lightning-fill"></i>
                                )
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            
            <div class="row">
                <div class="col-12">
                    <div class="volunteer-card-section">
                        <h2>Escala</h2>

                        <table class="schedule">
                            <tr>
                                <th>Sessão</th>
                                <th>Área</th>
                                <th>Lanche</th>
                            </tr>
                            <tr *ngFor="let teamArea of volunteerSelected.team?.teamAreas">
                                <td>{{teamArea.period?.date | date: 'dd/MM'}} - {{teamArea.period?.description}}</td>
                                <td>{{teamArea.areaName}}</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-12" *ngIf="eventSelected.button || eventSelected.tshirt">
                    <div class="volunteer-card-section">
                        <h2>Entregas</h2>

                        <div class="itens-deliver">
                            <div>
                                <mat-checkbox matTooltip="Camiseta" matTooltipPosition="right" matBadge="M" matBadgeSize="large">
                                    <img src="../../../assets/icons/tshirt-icon.png" alt="ícone camiseta" height="60">
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox matTooltip="Bóton" matTooltipPosition="right">
                                    <img src="../../../assets/icons/button-icon.png" alt="ícone bóton" height="60">
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox matTooltip="Pulseira" matTooltipPosition="right">
                                    <img src="../../../assets/icons/bracelet-icon.png" alt="ícone pulseira" height="60">
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-12">
                    <div class="volunteer-card-section">
                        <h2>Check-In / Check-Out</h2>

                        <div class="itens-deliver">
                            <div>
                                <mat-checkbox matTooltip="Rádio" matTooltipPosition="right">
                                    <img src="../../../assets/icons/walkie-talkie-icon.png" alt="ícone rádio" height="60">
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox matTooltip="Crachá" matTooltipPosition="right">
                                    <img src="../../../assets/icons/badge-icon.png" alt="ícone crachá" height="60">
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
