@import "../../../variables";

.event-input {
    width: 500px;
    margin: auto;
}

.check-in-card {
    background-color: $color-table;
    width: 100%;
    height: calc(100% - 50px);
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 100px;
    right: 60px;

    button {
        background-color: $color-7;
    }
}

.return-button {
    position: absolute;
    top: 15px;
    left: 35px;

    button {
        background-color: $color-1;
        font-size: 24px;
    }
}

.volunteer-input {
    width: 500px;
    margin: auto;
    padding-top: 20px;
}

.volunteer-info {
    border-radius: 15px;
    border: 8px solid $color-6;
    background-color: $color-6;
    color: $color-1;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    

    .volunteer-card-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        td, th {
            text-align: center;
        }

        .itens-deliver {
            width: 100%;
            display: flex;
            justify-content: space-around;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            ::ng-deep .mat-form-field {
                height: 60px;
            }

            ::ng-deep .mat-form-field-flex {
                max-width: 160px;
            }

            ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
                padding: 10px 0 12px 0;
            }

            ::ng-deep .mat-form-field-label {
                color: $color-1;
            }

            ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
                background-color: $color-6;
                color: $color-1;
            }
        }
        ::ng-deep .mat-checkbox-frame {
            border: 2px solid $color-1;
            border-radius: 50% !important;
        }

        ::ng-deep.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
            background-color: $color-7 !important;
            opacity: 50%;
        }

        ::ng-deep.mat-checkbox-disabled .mat-checkbox-frame {
            border-color: $color-7;
            background-color: $color-7;
            opacity: 50%;
        }
    }
}

.btn-finish {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    button {
        background-color: $color-1;
        min-width: 120px;
        font-family: $font-1;
        font-weight: bold;
        color: $color-2;
        border-radius: 50px;
        border: none;
        padding: 10px;
        margin: 0 5px;
        height: 50px;
        transition: all 0.3s;

        i {
            font-size: 20px;
            margin: 5px;
        }
    }

    .btn-primary:hover {
        background-color: $light-1;
        color: $color-2;
    }
}

.no-snack {
    margin-bottom: 5px;
}

::ng-deep .mat-mini-fab .mat-button-wrapper {
    line-height: 0;
}

::ng-deep .mat-badge-content {
    background: $color-1;
    color: $color-2;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    border-radius: 50%;
}