@import "../../../variables";

.event-input {
    width: 500px;
    margin: auto;
}

.check-in-card {
    background-color: $color-table;
    width: 100%;
    height: calc(100% - 50px);
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 100px;
    right: 60px;

    button {
        background-color: $color-7;
    }
}

.volunteer-input {
    width: 500px;
    margin: auto;
    padding-top: 20px;
}

.volunteer-info {
    border-radius: 15px;
    border: 8px solid $color-6;
    background-color: $color-6;
    color: $color-1;
    margin: 0 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 50vh;
    

    .volunteer-card-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        td, th {
            text-align: center;
        }

        .itens-deliver {
            width: 100%;
            display: flex;
            justify-content: space-around;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

::ng-deep .mat-mini-fab .mat-button-wrapper {
    line-height: 0;
}

::ng-deep .mat-badge-content {
    background: $color-1;
    color: $color-2;
}


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    border-radius: 50%;
}