<div class="table-container">
    <table class="table-striped" [dataSource]="dataSource" mat-table matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NOME</th>
            <td mat-cell *matCellDef="let element">
                <div class="volunteer-name">
                    <button mat-mini-fab matTooltip="Líder de equipe" class="btn-leader" [ngClass]="element.teamLeader ? 'btn-leader-checked': ''" 
                            (click)="element.teamLeader = !element.teamLeader" *ngIf="element.teamEdit">
                        <i class="bi bi-lightning-fill"></i>
                    </button>
                    <i class="bi bi-lightning-fill leader-icon" *ngIf="element.teamLeader && !element.teamEdit"></i>
                    {{ element.name }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>E-MAIL</th>
            <td mat-cell *matCellDef="let element">
                {{ element.email }}
            </td>
        </ng-container>

        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>EQUIPE</th>
            <td mat-cell *matCellDef="let element">
                <div class="table-edit-container">
                        <span *ngIf="!element.teamEdit">{{ element.team?.name }}</span>

                        <mat-form-field appearance="outline" *ngIf="element.teamEdit">
                            <mat-label>Equipe</mat-label>
                            <mat-select [(ngModel)]="element.team" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let team of teams" [value]="team">{{team.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button class="table-edit-button" *ngIf="element.teamEdit" (click)="saveVolunteer(element)">
                    <i class="bi bi-save"></i>
                </button>

                <button class="table-edit-button" *ngIf="!element.teamEdit" (click)="editVolunteer(element)">
                    <i class="bi bi-pencil-square"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator  [pageSize]="10"
                    [pageSizeOptions] = "[10, 20, 30, dataSource.data.length]"
                    showFirstLastButtons> 
    </mat-paginator>
</div>

<div class="container-buttons-footer">
    <button class="btn btn-secondary" routerLink="/event/list/">Voltar</button>
    <label for="import-volunteers" class="input-file-style">
        Importar<i class="bi bi-file-earmark-arrow-up"></i>
    </label>
    <input type="file" accept=".xlsx" id="import-volunteers" (change)="importXlsx($event)" hidden>
</div>