<div class="table-container">
    <table class="table-striped" [dataSource]="dataSource" mat-table matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NOME</th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>E-MAIL</th>
            <td mat-cell *matCellDef="let element">
              {{ element.email }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator  [pageSize]="10"
                    [pageSizeOptions] = "[10, 20, 30, dataSource.data.length]"
                    showFirstLastButtons> 
    </mat-paginator>
</div>

<div class="container-buttons-footer">
    <label for="import-volunteers" class="input-file-style">
        Importar<i class="bi bi-file-earmark-arrow-up"></i>
    </label>
    <input type="file" accept=".xlsx" id="import-volunteers" (change)="importXlsx($event)" hidden>
</div>