<div>
    <h3>Criar <b>Equipe</b></h3>
</div>
<form [formGroup]="form">
    <div class="row">
        <div class="col-8">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input type="text" matInput [formControl]="nameFormControl">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                    Nome é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-4">
            <div class="slide-container">
                <mat-label>Fixa</mat-label>
                <mat-slide-toggle [formControl]="dynamicFormControl" (change)="defineAreasQuantity()"></mat-slide-toggle>
                <mat-label>Rotativa</mat-label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" *ngFor="let teamArea of teamAreas">
            <mat-form-field appearance="outline">
                <mat-label>Área {{form.value.dynamic ? (teamArea.period?.description + " - " + (teamArea.period?.date | date:'dd/MM/yyyy')) : ""}}</mat-label>
                <mat-select [(ngModel)]="teamArea.areaId" [ngModelOptions]="{standalone: true}">
                    <mat-option value="">Descanso</mat-option>
                    <mat-option *ngFor="let area of areas" [value]="area.id">{{area.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="container-buttons-footer">
    <button class="btn btn-secondary" (click)="cancel()">
        <span>Cancelar</span>
    </button>
    <button class="btn btn-primary" (click)="save()" [disabled]="!this.form.valid">
        <span>Salvar</span>
        <i class="bi bi-save"></i>
    </button>
</div>