<div>
    <h3>Criar <b>Equipe</b></h3>
</div>
<form [formGroup]="form" (submit)="save()">
    <div class="row">
        <div class="col-8">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input type="text" matInput [formControl]="nameFormControl">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                    Nome é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-4">
            <div class="slide-container">
                <mat-label>Fixa</mat-label>
                <mat-slide-toggle [formControl]="dynamicFormControl"></mat-slide-toggle>
                <mat-label>Dinâmica</mat-label>
            </div>
        </div>
    </div>
</form>
<div class="container-buttons-footer">
    <button class="btn btn-secondary" (click)="cancel()">
        <span>Cancelar</span>
    </button>
    <button class="btn btn-primary" type="submit" [disabled]="!this.form.valid">
        <span>Salvar</span>
        <i class="bi bi-save"></i>
    </button>
</div>